   body {
    background-size: cover;
    background-image: url(../images/image.jpg); 
	background-position: right top; 
    background-repeat: no-repeat;
   }
   p2	{
   font-family: Arial;
    font-size: 25px;  
	color: white; 
   }
   h1 {
	font-family: Arial;
    color: red;
    text-align: center;
	}
	p	{
   font-family: verdana;
    font-size: 25px;  
	color: red; 
	text-align: center;
   }
	P.klass { 
    color:red ; 
    margin-left: 20px; 
	font-family: Arial;
	font-style:italic ;
   } 
	ol{
	color: white; 
	font-size: 20px;
	padding: 20px;
	}
	table{
	color: white; 
	font-size: 25px;
	bgcolor: green;
	text-decoration: underline;
	width: 300px;
	}
	img{
		background-position: center; 
		width: 200px;

		float: center;
	}